[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=env GTK_USE_PORTAL=1 "/home/dantae/apps/xdm/opt/xdman/xdm-app" --background
Name=Xtreme Download Manager
Comment=Xtreme Download Manager
Categories=Network;
Icon=/home/dantae/apps/xdm/opt/xdman/xdm-logo.svg